
cycler==0.10.0
future==0.17.1
kiwisolver==1.1.0
matplotlib==3.2.1
numpy==1.18.1
pandas==1.0.3
Pillow==7.0.0
Pillow-SIMD==7.0.0.post3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
torch==1.5.0
torchvision==0.6.0
opencv_python==3.4.4.19
scikit_learn==0.23.0
PyYAML==5.3.1
tensorboard==2.2.1